/vendor/
/node_modules/
/public/build/
/public/hot
/public/storage
/storage/*.key
/storage/app/public/*
/storage/app/license.json
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.git
/tests/
